#Header{
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, rgb(69, 34, 194), rgb(118, 6, 133));
    border-style: double;
    border-color: black;
}

.allie{
    height: 400px;
    width: 400px;
    border-style: double;
    border-color: black;
}

.news{
    text-align: center;
}

.date{
    text-align: left;
}

.list{
    text-align: left;
}

.form{
    background-color: purple;
    color: white;
    border-style: double;
    border-color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}